.container{
    margin: 3rem auto;
    width: 95%;
    max-width: 45rem;
    border-radius: 6px;
    background-color: #a24809;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: aliceblue;
}
.first{
    float:left;
    font-size: 36px;
}