.last {
    margin: 3rem auto;
    width: 95%;
    max-width: 45rem;
    border-radius: 0.25rem;
    background-color: #a24809;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    color: aliceblue;
  }
  .button{
    background-color: #dd8446;
    border-radius: 0.25rem;
    color: white;
  }

  .control{
    
    margin: 3rem auto;  
      width: 95%;
    max-width: 35rem;
    align-items: center;
}

  .img{
    align-items: center;
    width: fit-content;
    max-width:300px;
    border-radius: 0.5rem;
        max-height:300px;
  }
  .map{
    margin: 3rem auto;
    max-width: 80%;
    max-height: 80%;
    text-align: center;
  }